node-red-flow-calculo.json
[{"id":"4487b9c4.f654f8","type":"http request","z":"9d1135cf.823578","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://my-json-server.typicode.com/FBrito1/hackathon_btp/DATA_RECORD","tls":"","proxy":"","authType":"basic","x":321.6666564941406,"y":106.66666603088379,"wires":[["ab4e1bcb.3564f8"]]},{"id":"72d487de.298568","type":"inject","z":"9d1135cf.823578","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1043.333251953125,"y":48.333332538604736,"wires":[["d4e10f2.a3fbcf"]]},{"id":"ab4e1bcb.3564f8","type":"function","z":"9d1135cf.823578","name":"Parsing json","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":518.3333511352539,"y":105.00000667572021,"wires":[["791d48a9.643c48"]]},{"id":"791d48a9.643c48","type":"split","z":"9d1135cf.823578","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":705.0000305175781,"y":104.99999141693115,"wires":[["23c25052.cdaa4"]]},{"id":"23c25052.cdaa4","type":"function","z":"9d1135cf.823578","name":"Setting naviName && preparing request marinetraffic","func":"const imo = msg.payload.IMO;\nconst marineTrafficKey = 'ee83ea6a1f291d502805980c9a404b96de74fd64';\nmsg.naviName = msg.payload.NAVI_NOME;\n\n\nmsg.url = `https://services.marinetraffic.com/api/exportvessel/v:5/${marineTrafficKey}/timespan:20/imo:${imo}`;\n\nreturn msg;","outputs":1,"noerr":0,"x":321.66666412353516,"y":200.00000762939453,"wires":[["8b411e18.ef8bc"]]},{"id":"8b411e18.ef8bc","type":"http request","z":"9d1135cf.823578","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":200,"wires":[["720407a9.527d48"]]},{"id":"720407a9.527d48","type":"xml","z":"9d1135cf.823578","name":"","property":"payload","attr":"","chr":"","x":850,"y":200,"wires":[["147f9aa.a1a2565"]]},{"id":"147f9aa.a1a2565","type":"function","z":"9d1135cf.823578","name":"format vessel info","func":"const obj = {\n  naviName: msg.naviName,\n  naviMmsi: msg.payload.POS.row[0].$.MMSI,\n  naviLat: msg.payload.POS.row[0].$.LAT,\n  naviLon: msg.payload.POS.row[0].$.LON,\n  naviSpeed: msg.payload.POS.row[0].$.SPEED,\n  naviHeading: msg.payload.POS.row[0].$.HEADING,\n  naviCourse: msg.payload.POS.row[0].$.COURSE,\n  naviStatus: msg.payload.POS.row[0].$.STATUS,\n  naviTimestamp: msg.payload.POS.row[0].$.TIMESTAMP,\n  naviDsrc: msg.payload.POS.row[0].$.DSRC\n};\n\nmsg.payload = obj;\nmsg.vesselData = obj;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":280,"wires":[["274fee9b.8b3902"]]},{"id":"274fee9b.8b3902","type":"function","z":"9d1135cf.823578","name":"preparing request weather api","func":"const lat = msg.payload.naviLat;\nconst lon = msg.payload.naviLon;\n\nmsg.url = `api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=94a5e2e1d415f8e23d0ddbff8a5690cd`;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["8373e7e2.eb6b88"]]},{"id":"8373e7e2.eb6b88","type":"http request","z":"9d1135cf.823578","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","authType":"basic","x":830,"y":280,"wires":[["e03f40f0.cfa3c"]]},{"id":"e03f40f0.cfa3c","type":"function","z":"9d1135cf.823578","name":"format weather info","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":360,"wires":[["27eb9486.76c72c"]]},{"id":"27eb9486.76c72c","type":"function","z":"9d1135cf.823578","name":"structuring vessel data ","func":"let weather = `${msg.payload.weather[0].main} - ${msg.payload.weather[0].description}`;\n\nconst vesselWeather = {\n    weather,\n    wMain: msg.payload.main,\n    wWind: msg.payload.wind,\n    wClouds: msg.payload.clouds,\n};\n\nconst outputObj = {\n  vesselData: msg.vesselData,\n  vesselWeather \n};\n\nmsg.obj = outputObj;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":360,"wires":[["ef9c6a3a.7ff878"]]},{"id":"ef9c6a3a.7ff878","type":"function","z":"9d1135cf.823578","name":"preparing request weather api","func":"const latPort = -23.992030;\nconst lonPort = -46.309266;\n\nmsg.latPort = latPort;\nmsg.lonPort = lonPort;\n\nmsg.url = `api.openweathermap.org/data/2.5/weather?lat=${latPort}&lon=${lonPort}&appid=94a5e2e1d415f8e23d0ddbff8a5690cd`;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":360,"wires":[["cb0872ff.c4961"]]},{"id":"cb0872ff.c4961","type":"http request","z":"9d1135cf.823578","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":190,"y":460,"wires":[["aead47c2.e03888"]]},{"id":"aead47c2.e03888","type":"function","z":"9d1135cf.823578","name":"structuring data to analyze","func":"msg.payload = JSON.parse(msg.payload);\n\nlet weather = `${msg.payload.weather[0].main} - ${msg.payload.weather[0].description}`;\n\nconst portInfo = {\n    latPort: msg.latPort,\n    lonPort: msg.lonPort,\n    weather,\n    wMain: msg.payload.main,\n    wWind: msg.payload.wind,\n    wClouds: msg.payload.clouds,\n};\n\nmsg.payload = {\n    vesselInfo: msg.obj,\n    portInfo\n};\n\nmsg.response = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":519.9999771118164,"y":466.66667461395264,"wires":[["bad02e96.5230e"]]},{"id":"d84e7717.cb6538","type":"http in","z":"9d1135cf.823578","name":"","url":"/dataMock","method":"get","upload":false,"swaggerDoc":"","x":730.4166488647461,"y":47.559532165527344,"wires":[["d4e10f2.a3fbcf"]]},{"id":"bad02e96.5230e","type":"link out","z":"9d1135cf.823578","name":"calculo_distancia","links":["9ea14644.209f98"],"x":757.0237798690796,"y":471.19052505493164,"wires":[]},{"id":"d4e10f2.a3fbcf","type":"function","z":"9d1135cf.823578","name":"mockApi","func":"msg.payload = `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<POS>\n    <row MMSI=\"352335000\" LAT=\"29.727690\" LON=\"122.430900\" SPEED=\"99\" HEADING=\"275\" COURSE=\"274\" STATUS=\"0\" TIMESTAMP=\"2019-04-07T11:36:03\" DSRC=\"TER\"/>\n</POS>`;\n\nmsg.naviName = 'LOG-IN RESILIENTE';\nreturn msg;","outputs":1,"noerr":0,"x":933.3927726745605,"y":110.41666030883789,"wires":[["720407a9.527d48"]]},{"id":"da50799.29d5288","type":"inject","z":"9d1135cf.823578","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":137.02381134033203,"y":105.47619438171387,"wires":[["4487b9c4.f654f8"]]},{"id":"12ee1b06.d0a745","type":"http in","z":"9d1135cf.823578","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":144.28570938110352,"y":50.00000190734863,"wires":[["4487b9c4.f654f8"]]}]
